# Hello! I am in Malaysia and websites wont allow me to scrape them from international locations using a bot. Hence I am scraping some other similar local popular websites like jobstreet instead of naukri etc.

In [41]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager


driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

## Question 1 : Scraping for  job-title, job-location, company_name, experience_required

### experience_required isnt an option on the job listings on jobstreet. Hence I am scraping for "posted time" instead

In [56]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = "https://www.jobstreet.com.my/"
driver.get(url)
time.sleep(5)


# finding element for job search bar

search_job = driver.find_element(By.XPATH, "//input[@ id = 'searchKeywordsField']")  
search_job.send_keys('Data Analyst')

# finding element for job location bar
search_loc = driver.find_element(By.XPATH, "//input[@ placeholder='Area, city or town']")  
search_loc.send_keys("Kuala lumpur")

# clicking  using xpath function
search_btn = driver.find_element(By.XPATH, "//button[@ data-automation='searchSubmitButton']")  
search_btn.click()

#so let's extract all the tags having the job titles

title_tags = driver.find_elements(By.XPATH , "//div[@ class = 'sx2jih0 l3gun70 l3gun74 l3gun72']/span")
time.sleep(5)

# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
   

# lets extract all the tags having company names
company_tags = driver.find_elements(By.XPATH , "//span[@ class = 'sx2jih0 zcydq84u _18qlyvc0 _18qlyvc1x _18qlyvc1 _18qlyvc7']/span/a")

# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)


# so lets extract  all the tags having the job location

location_tags = driver.find_elements(By.XPATH ,"//span[@ class = 'sx2jih0 zcydq84u _18qlyvc0 _18qlyvc1x _18qlyvc3 _18qlyvc7']/span/a")

# now we will extract the text  from these tags only by one by looping over these tags
location_list=[]
for i in location_tags:
    location_list.append(i.text)


#extracting when the job posting was posted
posted_tags = driver.find_elements(By.XPATH ,'//time[@ class="sx2jih0 zcydq84u"]/span')

posted_list=[]
for i in posted_tags:
    posted_list.append(i.text)

jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['location']=location_list[:10]
jobs['Posted']=posted_list[:10]

driver.close()

jobs

,title,company,location,Posted
0,Senior Data Analyst (Hybrid Working),SEEK Asia (JobStreet),Kuala Lumpur,1d ago
1,"Business Analyst, Careers & Connect (Hybrid Wo...",SEEK Asia (JobStreet),Kuala Lumpur,1d ago
2,Data Analyst,Agensi Pekerjaan Hays (Malaysia) Sdn Bhd,Kuala Lumpur,22h ago
3,DATA ANALYST,CITY FACILITIES MANAGEMENT SDN. BHD.,Kuala Lumpur,1d ago
4,Data Analyst,Adecco Staffing & Outsourcing Sdn Bhd,Kuala Lumpur,7h ago
5,Assistant Manager - Business Intelligence & Da...,Gibraltar BSN Life Berhad,Kuala Lumpur,4h ago
6,Business Analyst,EDESK SDN. BHD.,Kuala Lumpur,19h ago
7,Data Architect/Modeler,AIA IT (M) Sdn Bhd,Kuala Lumpur,3h ago
8,Data Analyst,Agensi Pekerjaan Randstad Sdn Bhd - Professional,Kuala Lumpur,3d ago
9,PROJECT ANALYST,RCE Capital Berhad,Kuala Lumpur,19h ago

## 2. Scraping  job-title, job-location, company_name by serching for data - “Data Scientist” Job position in “Kuala lumpur” location

In [57]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url = "https://www.jobstreet.com.my/"
driver.get(url)
time.sleep(5)


# finding element for job search bar

search_job = driver.find_element(By.XPATH, "//input[@ id = 'searchKeywordsField']")  
search_job.send_keys('Data Scientist')

# finding element for job location bar
search_loc = driver.find_element(By.XPATH, "//input[@ placeholder='Area, city or town']")  
search_loc.send_keys("Kuala lumpur")

# clicking  using xpath function
search_btn = driver.find_element(By.XPATH, "//button[@ data-automation='searchSubmitButton']")  
search_btn.click()
time.sleep(5)
#so let's extract all the tags having the job titles

title_tags = driver.find_elements(By.XPATH , "//div[@ class = 'sx2jih0 l3gun70 l3gun74 l3gun72']/span")


# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
   

# lets extract all the tags having company names
company_tags = driver.find_elements(By.XPATH , "//span[@ class = 'sx2jih0 zcydq84u _18qlyvc0 _18qlyvc1x _18qlyvc1 _18qlyvc7']/span/a")

# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)


# so lets extract  all the tags having the job location

location_tags = driver.find_elements(By.XPATH ,"//span[@ class = 'sx2jih0 zcydq84u _18qlyvc0 _18qlyvc1x _18qlyvc3 _18qlyvc7']/span/a")

# now we will extract the text  from these tags only by one by looping over these tags
location_list=[]
for i in location_tags:
    location_list.append(i.text)


#extracting when the job posting was posted
# posted_tags = driver.find_elements(By.XPATH ,'//time[@ class="sx2jih0 zcydq84u"]/span')

# posted_list=[]
# for i in posted_tags:
#     posted_list.append(i.text)

jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['location']=location_list[:10]
#jobs['Posted']=posted_list[:10]

driver.close()

jobs

,title,company,location
0,Data Engineer,HELIUS TECHNOLOGIES SDN. BHD.,Kuala Lumpur
1,Big Data Engineer Lead (Hadoop/Spark/Kafka),RHB Banking Group,Kuala Lumpur
2,Data Engineer,ADAPTAVIST SDN. BHD.,Kuala Lumpur
3,Data Scientist (Analytics),RHB Banking Group,Kuala Lumpur
4,Data Engineer,Soft Space Sdn Bhd,Kuala Lumpur
5,Data Engineer,Agensi Pekerjaan Hays (Malaysia) Sdn Bhd,Kuala Lumpur
6,Data Architect/Modeler,AIA IT (M) Sdn Bhd,Kuala Lumpur
7,Senior Data Engineer,Arvato Systems Malaysia Sdn Bhd,Kuala Lumpur
8,Big Data Engineer - Cloud (Outsourcing),INSPIRE DYNAMIC SOLUTIONS,Kuala Lumpur
9,Data Engineer,QS Enrolment Solutions,Kuala Lumpur

## 3. using filters to scrape jobs in Delhi/ NCR, salary range : 3-6 Lakhs

### Since the filters that this question wanted to test me on, were not available on jobstreet, I developed this solution for Naukri. unfortunately, I could not test it because im in malaysia and the site is blocking me for being a bot. Please dont mind if encountered with some errors.

In [36]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url = "https://www.naukri.com"
driver.get(url)
time.sleep(5)


# finding element for job search bar

search_job = driver.find_element(By.XPATH, "//input[@class='sugInp']")  
search_job.send_keys('Data Scientist')

# finding element for job location bar
# search_loc = driver.find_element(By.XPATH, "//input[@ placeholder='Area, city or town']")  
# search_loc.send_keys("Kuala lumpur")

# clicking  using xpath function
search_btn = driver.find_element(By.XPATH, "//button[@class='btn']")  
search_btn.click()
time.sleep(5)
#so let's extract all the tags having the job titles


filter_loc = driver.find_element(By.XPATH, '//span[@title="Delhi / NCR"]')
filter_loc.click()

filter_salary = driver.find_element(By.XPATH, '//span[@title="3-6 Lakhs"]')
filter_salary.click()



title_tags = driver.find_elements(By.XPATH , '//a[@ class="title fw500 ellipsis"]')

# extract the text of the job title  from the tags
job_titles=[]
for i in title_tags:
    if i.text is None:
        job_titles.append('Not')
    else:
        job_titles.append(i.text)
   

# lets extract all the tags having company names
company_tags = driver.find_elements(By.XPATH , '//a[@class="subTitle ellipsis fleft"]')

# Now we will extract the text from the tags by looping over these tags
companies_names=[]

for i in company_tags:
    companies_names.append(i.text)


# so lets extract  all the tags having the job location

location_tags = driver.find_elements(By.XPATH ,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

# now we will extract the text  from these tags only by one by looping over these tags
location_list=[]
for i in location_tags:
    location_list.append(i.text)


#extracting when the job posting was posted
exp_tags = driver.find_elements(By.XPATH ,'//li[@class="fleft grey-text br2 placeHolderLi experience"]/i')

exp_list=[]
for i in exp_tags:
    exp_list.append(i.text)

jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_names[:10]
jobs['location']=location_list[:10]
jobs['Experience needed']=exp_list[:10]

driver.close()

jobs

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@class='sugInp']"}
  (Session info: chrome=104.0.5112.101)
Stacktrace:
0   chromedriver                        0x000000010073c149 chromedriver + 4469065
1   chromedriver                        0x00000001006c6233 chromedriver + 3985971
2   chromedriver                        0x000000010035cfe8 chromedriver + 409576
3   chromedriver                        0x00000001003931d8 chromedriver + 631256
4   chromedriver                        0x0000000100393451 chromedriver + 631889
5   chromedriver                        0x00000001003c58f4 chromedriver + 837876
6   chromedriver                        0x00000001003b0c8d chromedriver + 752781
7   chromedriver                        0x00000001003c3611 chromedriver + 828945
8   chromedriver                        0x00000001003b0b53 chromedriver + 752467
9   chromedriver                        0x0000000100386905 chromedriver + 579845
10  chromedriver                        0x0000000100387955 chromedriver + 584021
11  chromedriver                        0x000000010070d6ad chromedriver + 4277933
12  chromedriver                        0x0000000100711b3a chromedriver + 4295482
13  chromedriver                        0x0000000100716cdf chromedriver + 4316383
14  chromedriver                        0x0000000100712857 chromedriver + 4298839
15  chromedriver                        0x00000001006eb64f chromedriver + 4138575
16  chromedriver                        0x000000010072d1f8 chromedriver + 4407800
17  chromedriver                        0x000000010072d37f chromedriver + 4408191
18  chromedriver                        0x0000000100743cb5 chromedriver + 4500661
19  libsystem_pthread.dylib             0x00007ff80e3014e1 _pthread_start + 125
20  libsystem_pthread.dylib             0x00007ff80e2fcf6b thread_start + 15

## 4. Scraping for product name, price, discount and description of 100 sunglasses on flipkart

In [58]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(10)

esc_login = driver.find_element(By.XPATH , '//button[@class="_2KpZ6l _2doB4z"]')
esc_login.click()

search_product = driver.find_element(By.XPATH, '//input[@class="_3704LK"]')  
search_product.send_keys('Sunglasses')

search_btn = driver.find_element(By.XPATH, '//button[@class="L0Z3Pu"]')  
search_btn.click()
time.sleep(5)

B_name=[]
Price=[]
P_desc=[]
Discount=[]

for i in range(3):
    b_name=driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH, "//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]
    
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['Price']=Price[:100]
sun_gl['Description']=P_desc[:100]
sun_gl['Discount']=Discount[:100]

driver.close()

sun_gl

,Brand_name,Price,Description,Discount
0,VINCENT CHASE,"₹1,415₹1,99929% off","by Lenskart Polarized, UV Protection Aviator S...",29% off
1,VINCENT CHASE,"₹949₹1,99952% off","by Lenskart Polarized, UV Protection Aviator S...",52% off
2,Fastrack,₹799₹99920% off,UV Protection Wayfarer Sunglasses (Free Size),20% off
3,Elligator,"₹298₹2,49588% off",UV Protection Round Sunglasses (54),88% off
4,PIRASO,"₹224₹1,59985% off",UV Protection Aviator Sunglasses (54),85% off
...,...,...,...,...
95,VINCENT CHASE,"₹252₹2,59990% off","by Lenskart Polarized, UV Protection Cat-eye S...",68% off
96,PHENOMENAL,"₹200₹1,29984% off",UV Protection Retro Square Sunglasses (53),73% off
97,SHAAH COLLECTIONS,"₹999₹1,99950% off","UV Protection, Polarized, Mirrored Rectangular...",88% off
98,ROZZETTA CRAFT,₹639₹79920% off,"Polarized, Riding Glasses Sports, Wrap-around ...",75% off
99,VINCENT CHASE,"₹283₹1,29978% off","by Lenskart Polarized, UV Protection Aviator S...",52% off

## 5. Rating, review summary and full review of 100 iphone 11 reviews on flipkart

In [85]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(10)

esc_login = driver.find_element(By.XPATH , '//button[@class="_2KpZ6l _2doB4z"]')
esc_login.click()

search_product = driver.find_element(By.XPATH, '//input[@class="_3704LK"]')  
search_product.send_keys('iphone 11')

search_btn = driver.find_element(By.XPATH, '//button[@class="L0Z3Pu"]')  
search_btn.click()
time.sleep(5)

product = driver.find_element(By.XPATH, '//div[@class="col col-7-12"]')
product.click()
time.sleep(5)

p = driver.current_window_handle
parent = driver.window_handles[0]
child = driver.window_handles[1]

driver.switch_to.window(child)


show_all_reviews = driver.find_element(By.XPATH, '//div[@class="_3UAT2v _16PBlm"]/span')
show_all_reviews.click()
time.sleep(5)

Rating=[]
Review_summary=[]
Full_Review=[]


for i in range(10):
     
    
    rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    review_summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    full_review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]/div/div')


    for rating in rating_tags:
        Rating.append(rating.text)
        
    for review in review_summary_tags:
        Review_summary.append(review.text)
    
    for review in full_review_tags:
        Full_Review.append(review.text)
    
    time.sleep(5)
    
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    next_button.click()
    
    time.sleep(5)
    
reviews = pd.DataFrame({})
reviews['Rating']=Rating
reviews['Review_summary'] = Review_summary
reviews['Full_Review'] = Full_Review

driver.close()

reviews

,Rating,Review_summary,Full_Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,It's my first time to use iOS phone and I am l...
99,4,Good choice,So far it’s been an AMAZING experience coming ...

## 6. Scraping 100 sneakers for product name, price, discount, description

In [92]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url="https://www.flipkart.com/"
driver.get(url)
time.sleep(10)

esc_login = driver.find_element(By.XPATH , '//button[@class="_2KpZ6l _2doB4z"]')
esc_login.click()

# finding element for job search bar
search_g= driver.find_element(By.XPATH,"//input[@type='text']")

# write on search bar
search_g.send_keys('sneakers')

search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()
time.sleep(5)

B_name=[]
Price=[]
P_desc=[]
Discount=[]


for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]
    
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['price']=Price[:100]
sun_gl['Product description']=P_desc[:100]
sun_gl['discount']=Discount[:100]

driver.close()


sun_gl

,Brand_name,price,Product description,discount
0,ADIDAS,"₹1,305",Easy Vulc 2.0 Sneakers For Men,67% off
1,ADIDAS ORIGINALS,"₹2,339",Easy Vulc 2.0 Sneakers For Men,35% off
2,aadi,₹374,Mesh | Ultralightweight | Comfortable | Breath...,81% off
3,Deals4you,₹373,Sneakers For Women,62% off
4,Deals4you,₹389,Sneakers For Men,74% off
...,...,...,...,...
95,bacca bucci,"₹1,578",Sneakers For Men,54% off
96,KWIK FIT,₹397,BREAKNET Sneakers For Men,80% off
97,Magnolia,₹374,Stylish Walking Partywear Sneakers Casual Shoe...,62% off
98,Kzaara,₹259,Sneakers For Women,74% off
99,ADIDAS,"₹4,409",STREET ICON M Sneakers For Men,37% off

## 7. Filtering for black shoes on Myntra

In [123]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url="https://www.myntra.com/shoes"
driver.get(url)
time.sleep(10)

#Applying the black colur filter
filter_button2 = driver.find_element(By.XPATH,'//li[@class="colour-listItem"][1]')
filter_button2.click()
time.sleep(5)  

# appplying the price filter
filter_button1=driver.find_element(By.XPATH,'//ul[@class="price-list"]/li[2]/label')
filter_button1.click()
time.sleep(5)


Brand=[]
Price=[]
Description=[]

for i in range(2):
    brand=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    description=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    price =driver.find_elements(By.XPATH,'//div[@class="product-price"]')
 
    for j  in brand:
        Brand.append(j.text)
    
    for k in description:
        Description.append(k.text)
    
    for l in price:
        temp = l.text.split('Rs.' , 2)
        if len(temp) == 3:
            l = temp[1]
        else: l = temp[1]
        Price.append(l)


myntra_shoes = pd.DataFrame()
myntra_shoes["Brand"] = Brand
myntra_shoes['Description'] = Description
myntra_shoes['Price in INR'] = Price

driver.close()

myntra_shoes

               Brand                     Description Price in INR
0               Nike  Men ZOOM WINFLO8 Running Shoes         7465
1           Skechers      Men Max Cushioning Running         7199
2               Nike     Men SRG 3 FK Training Shoes         8005
3               Nike    Men React Infinity 3 Running        11895
4               Nike      Men Colourblocked Sneakers        10795
..               ...                             ...          ...
95    ROSSO BRUNELLO  Men Solid Formal Slip-On Shoes        11999
96  ADIDAS Originals      Men Ozrah Leather Sneakers        11049
97            ADIDAS     Men Adizero Adios 7 Running        10199
98              Puma      Women Eternity NITRO Shoes         9749
99              Puma      Women Run XX Nitro Running         7999

[100 rows x 3 columns]

In [124]:
myntra_shoes[:20]

               Brand                        Description Price in INR
0               Nike     Men ZOOM WINFLO8 Running Shoes         7465
1           Skechers         Men Max Cushioning Running         7199
2               Nike        Men SRG 3 FK Training Shoes         8005
3               Nike       Men React Infinity 3 Running        11895
4               Nike         Men Colourblocked Sneakers        10795
5           Skechers         Men Max Cushioning Running         7199
6               Puma      Women UltraRide Running Shoes         8999
7   ADIDAS Originals           Men Niteball II Sneakers         9899
8               Nike     Men JORDAN LOW Basketball Shoe        12795
9               Puma       Eternity Nitro Running Shoes         9749
10            ADIDAS          Women X9000 H.RDY Running         6719
11              Nike              Air Max Axis Sneakers         7915
12            ADIDAS       Men Solar Glide 4 ST Running        11999
13            ADIDAS      Men Defiant Generation Tennis         8499
14      Hush Puppies  Men Solid Leather Formal Slip-Ons         7649
15              Puma         Unisex Wild Rider Sneakers         6749
16              Nike                  Men Running Shoes         7495
17             ASICS      Men GEL-CUMULUS 23 MK Running         7999
18            ADIDAS      Men Supernova 2 Running Shoes         9999
19          Skechers           Men ENIGMA Running Shoes         7124

## 8. Intel core i7 laptops scraping on Amazon

In [145]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

url=" https://www.amazon.in "
driver.get(url)
time.sleep(10)

search_g = driver.find_element(By.XPATH,"//input[@type='text']")
search_g.send_keys('Laptop')

search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()
time.sleep(5)

intelcorei7 = driver.find_element(By.XPATH, '//li[@aria-label="Intel Core i7"]')
intelcorei7.click()
time.sleep(5)

Title=[]
Price=[]
Rating=[]


title=(driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]'))[:10]
ratings=(driver.find_elements(By.XPATH,' //span[@class="a-size-base s-underline-text"]'))[:10]
price =(driver.find_elements(By.XPATH, '//span[@aria-hidden="true"]/span[2]'))[:10]


for j  in title:
    Title.append(j.text)




for k in ratings:
    Rating.append(k.text)



for l in price:
    Price.append(l.text)
    
laptops = pd.DataFrame()

laptops["Title"] = Title
laptops["Price"] = Price
laptops["Rating"] = Rating

driver.close()

laptops

                                               Title     Price Rating
0  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...  Featured    677
1  Acer Extensa 15 Lightweight Laptop 11th Gen In...    39,990  1,591
2  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...    45,990    580
3  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...    25,990  4,003
4  HP 14s, 5th Gen AMD Ryzen 3- 8GB RAM/512GB SSD...    21,640    677
5  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...    38,490    197
6  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...    39,990     30
7  HP 15s, 11th Gen Intel Core i3, 8GB RAM/512GB ...    29,490
8  Dell Inspiron 3525 Laptop, AMD Athlon Silver 3...    43,500
9  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...              463

## 9. Ambitionbox.com (Data scientist - Noida)

In [150]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))


url= "https://www.ambitionbox.com/"
driver.get(url)
time.sleep(10)

jobs = driver.find_element(By.XPATH,'//a[@title="Jobs"]')
jobs.click()
time.sleep(5)

search = driver.find_element(By.NAME,'ab_jobsSearch')
search.send_keys('Data Scientist')

search_btn = driver.find_element(By.XPATH,'//div[@class="fixed-typeahead-wrapper"]/div/div/button')
search_btn.click()
time.sleep(5)

location = driver.find_element(By.XPATH, '//div[@title="Location"]')
location.click()

noida = driver.find_element(By.XPATH, '//label[@for="location_Noida"]')
noida.click()
time.sleep(5)

company_name_tags = driver.find_elements(By.XPATH, '//a[@class="title noclick"]')
ratings_tags = driver.find_elements(By.XPATH, '//span[@class="body-small"]')
posted_tags = driver.find_elements(By.XPATH, '//div[@class="other-info"]/span[1]')


Company_name = []
Rating = []
Posted_on = []

for tag in company_name_tags:
    Company_name.append(tag.text)
    
for tag in ratings_tags:
    Rating.append(tag.text)
    
for tag in posted_tags:
    Posted_on.append(tag.text)
    

jobs = pd.DataFrame()

jobs["Company_name"] = Company_name
jobs["Rating"] = Rating
jobs["Posted_on"] = Posted_on

driver.close()

jobs

                                        Company_name Rating Posted_on
0    Hiring Data Scientist #productbasecompany #CBRE    4.3    8d ago
1  Hiring For Genpact-Data Scientist- Forecasting...    4.0    1d ago
2  Genpact - Data Scientist - Forecasting/Python/...    4.0    3d ago
3                                     Data Scientist    4.3   18d ago
4                                     Data Scientist    4.0   11d ago
5                                     Data Scientist    4.1   15d ago
6                 Associate Manager - Data Scientist    4.1   16d ago
7                                     Data Scientist    4.3   28d ago
8                                     Data Scientist    4.2   17d ago
9                   Data Scientist - Noida/Bangalore    3.9   17d ago

## 10. Ambitionbox.com Salary data for data scientist

In [156]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))



url= "https://www.ambitionbox.com/"
driver.get(url)
time.sleep(10)

salaries = driver.find_element(By.XPATH,'//ul[@class="nav-list-wrapper"]/li[3]/a')
salaries.click()

sub_salaries = driver.find_element(By.XPATH, '//a[@title="Browse salaries"]')
sub_salaries.click()

job_profile = driver.find_element(By.XPATH,'//input[@id="jobProfileSearchbox"]')
job_profile.send_keys("Data Scientist")

suggestion = driver.find_element(By.XPATH, '//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
suggestion.click()



time.sleep(5)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="salaries"]/main/section[1]/div[2]/div[1]/span/div/div/div[1]"}
  (Session info: chrome=104.0.5112.101)
Stacktrace:
0   chromedriver                        0x000000010288e149 chromedriver + 4469065
1   chromedriver                        0x0000000102818233 chromedriver + 3985971
2   chromedriver                        0x00000001024aefe8 chromedriver + 409576
3   chromedriver                        0x00000001024e51d8 chromedriver + 631256
4   chromedriver                        0x00000001024e5451 chromedriver + 631889
5   chromedriver                        0x00000001025178f4 chromedriver + 837876
6   chromedriver                        0x0000000102502c8d chromedriver + 752781
7   chromedriver                        0x0000000102515611 chromedriver + 828945
8   chromedriver                        0x0000000102502b53 chromedriver + 752467
9   chromedriver                        0x00000001024d8905 chromedriver + 579845
10  chromedriver                        0x00000001024d9955 chromedriver + 584021
11  chromedriver                        0x000000010285f6ad chromedriver + 4277933
12  chromedriver                        0x0000000102863b3a chromedriver + 4295482
13  chromedriver                        0x0000000102868cdf chromedriver + 4316383
14  chromedriver                        0x0000000102864857 chromedriver + 4298839
15  chromedriver                        0x000000010283d64f chromedriver + 4138575
16  chromedriver                        0x000000010287f1f8 chromedriver + 4407800
17  chromedriver                        0x000000010287f37f chromedriver + 4408191
18  chromedriver                        0x0000000102895cb5 chromedriver + 4500661
19  libsystem_pthread.dylib             0x00007ff80e3014e1 _pthread_start + 125
20  libsystem_pthread.dylib             0x00007ff80e2fcf6b thread_start + 15

## I tried like a million ways to find out how to choose a suggestion from a search field. Tried using down arrow keys, all kind of xpath combos etc and failed. Hence the last question is left half the way.